<div class="header">    
    <div class="header-left">
        <div class="header-logo">
         <img src="/assets/Frame.svg" alt="логотип сайта">
    </div>
        <nav class="header-nav">
            <div class="header-nav-item">Главная</div>
            <div class="header-nav-item">О компаний</div>
            <div class="header-nav-item">Каталог</div>
        </nav>
       </div>    
    <div class="header-right">
            <img src="/assets/Phone.svg" alt="телефон">
            <a class="phone-number" href="tel+79650842929">+7(965)084-29-29</a>
            <img class="Heart" src="/assets/Heart1.svg" alt="избраное">  
            <button class="cart">
                <img class="img-cart" src="/assets/Frame 3.svg" alt="">
                <span class="empty"></span>
            </button>
         </div>
        </div>  
        <div class="header-2">
            <div class="header-left-2">
                <img class="menu" src="/assets/Light.svg" alt="">
                <nav class="header-nav-2">
                <div class="header-nav-item">Каталог</div>
                 <div class="header-nav-item">Стройматериалы</div>
                <div class="header-nav-item">Инструменты</div>
                <div class="header-nav-item">Электрика</div>
                <div class="header-nav-item">Интерьер и одежда</div>
                </nav>
                <div class="header-right-2">
                    <form>
                        <input class="search" type="search" placeholder="Поиск, например круг зачистной">
                    </form>
                        <div class="map">
                            <img src="/assets/Frame 118.svg" alt="">
                            <button class="country" type="menu">Москва</button>
                        </div>
                 </div>
                
                </div>
             </div>
             


      
        